@import "../../theme/assets/scss/blk-design-system-pro/custom/functions";
@import "~bootstrap/scss/functions";
@import "../../theme/assets/scss/blk-design-system-pro/variables";

.header-banner {
  width: 100%;
  height: 300px;
  background-position: center;
  background-size: cover;
  position: relative;

  .admin-menu {
    position: absolute;
    bottom: 0;
    right: 0;
  }
}

.profile-left-column {
  margin-top: -100px;
  padding-left: 1rem;
  padding-right: 1rem;
}

.profile-picture {
  width: 200px;
  border: 2px solid $primary;
}

.profile-page-content {
  color: rgba($color: #fff, $alpha: 0.8);

  .navbar .navbar-brand {
    font-size: 2rem;
  }

  button.selected {
    color: white;
  }
}

.card-product {
  width: 240px !important;
  display: inline-block !important;

  margin-left: 15px;
  margin-right: 15px;
  margin-top: 0px !important;
  margin-bottom: 30px;

  .card-image {
    height: 240px;
    width: 240px;
    display: flex;
    align-items: center;
    justify-content: center;

    img {
      max-width: 100%;
      max-height: 100%;
    }
  }
}
